.login {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #238cc0;
  text-align: center;
  padding-top: 60px;
  font-size: 14px;
}
.login h1 {
  color: #fff;
}
.login h2 {
  font-size: 38px;
  margin-bottom: 40px;
}
.login-container {
  width: 90%;
  max-width: 520px;
  margin: auto;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 40px 30px 30px;
  margin-bottom: 100px;
  text-align: left;
}
.login-container input {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 18px;
  min-height: 40px;
}
.login-container__button,
.search__button {
  background-color: #238cc0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  border-color: #238cc0;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  cursor: pointer;
  min-height: 44px;
}
.search__button {
  min-height: 29px;
  border: 0;
}
.login-container__button:hover,
.search__button:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.search__button:focus {
  outline: none;
}
.login-container__message {
  text-align: center;
  color: #666;
  margin-top: 50px;
}
@media only screen and (min-width: 480px) {
  .login-container {
    padding: 50px 90px 40px;
  }
}
