.user-details {
  margin: auto;
  width: 90%;
  max-width: 760px;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 14px;
}
.user-details h2 {
  font-size: 42px;
  margin-bottom: 50px;
  line-height: 1em;
}
.user-details h1 {
  text-transform: uppercase;
  font-size: 21px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 20px;
}
.user-details button {
  background: transparent;
  border: 0;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding-left: 0px;
  color: #238cc0;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}
.user-details input {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 3px;
  font-size: 18px;
  min-height: 40px;
}
.user-details input:disabled {
  background: transparent;
  border: none;
  color: #333;
  padding-left: 0;
}
.user-details input#email {
  color: #999;
}
.user-details label {
  font-size: 13px;
}
.user-details__bottom {
  display: flex;
}
.user-details__bottom input {
  font-weight: 600;
  letter-spacing: 0.02em;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  cursor: pointer;
  min-height: 44px;
}
.user-details__bottom input:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.user-details__cancel {
  background: #fff;
  margin-right: 3px;
  color: #999;
}
.user-details__save {
  background-color: #238cc0;
  color: #fff;
  border-color: #238cc0;
  margin-left: 10px;
}
#avatar:disabled {
  display: none;
}
@media only screen and (min-width: 768px) {
  .user-details__columns {
    display: flex;
    flex-wrap: wrap;
  }
  .user-details__columns > div {
    width: 50%;
    padding-right: 10%;
  }
  .user-details__columns__left {
    order: 2;
  }
  .user-details__columns__right {
    order: 1;
  }
  .user-details__columns__right img {
    margin-top: 5px;
    display: block;
    margin-bottom: 10px;
  }
  .user-details__bottom {
    margin-left: 50%;
    padding-right: 10%;
  }
  .user-details button {
    display: inline-block;
    margin-left: 5px;
    padding-left: 10px;
    margin-top: 0;
    line-height: 0.9em;
  }
}
