.filter-accordion {
  overflow: hidden;
}
.filter-accordion--header {
  margin: 10px 0 15px 0;
  padding-right: 10px;
  display: flex;
}
.filter-accordion--header h4 {
  font-size: 21px;
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.filter-accordion--header--chevron {
  margin-left: auto;
}
.filter-accordion--header--chevron svg {
  margin-left: auto;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.filter-accordion--folded .filter-accordion--header--chevron svg {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari & Chrome */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* Internet Explorer */
  -o-transform: rotate(-90deg);
}
.filter-accordion .filter-accordion--card {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  overflow: hidden;
  max-height: 2000px;
}
.filter-accordion .filter-accordion--card ul {
  padding-bottom: 20px;
}
.filter-accordion--folded .filter-accordion--card {
  max-height: 0px;
}