#products {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.product {
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.product h3 {
  text-align: left;
  margin: 15px 0 3px 0;
}
.product h4 {
  text-align: left;
  margin: 0;
  font-weight: 500;
}
.product p {
  text-align: left;
  margin: 2px 0 0;
  font-size: 14px;
}
.product > span {
  display: block;
  position: absolute;
  top: 3%;
  right: 4%;
}
@media only screen and (min-width: 480px) {
  .product {
    width: 47%;
    margin-right: 3%;
  }
  .grid {
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .grid {
    padding-top: 10px;
    padding-left: 5px;
  }
  #products {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .product {
    width: 31.33%;
    margin-right: 2%;
  }
}
@media only screen and (min-width: 1280px) {
  .product {
    width: 23%;
  }
}
