@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"');
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #666;
  line-height: 1.2em;
  font-size: 16px;
  background-color: #f5f5f5;
}
a {
  color: #238cc0;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
}
input, select {
  border-radius: 0;
  border: 2px solid #ccc;
  padding: 5px;
}
select {
  height: 29px;
  color: #666;
  width: 100%;
}
.sorter {
  padding: 15px;
  min-width: 190px;
}
input:focus,
select:focus {
  outline: none;
  border-color: #238cc0;
}
input[type="checkbox"] {
  margin: 5px;
  padding: 0;
}
.header {
  background-color: #238cc0;
  min-height: 44px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
}
.header a {
  color: #fff;
}
.home-link {
  font-size: 24px;
  font-weight: 700;
}
.header h2{
  font-size: 18px;
  margin: 0;
  font-weight: 500;
}
.header-panel-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.user {
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #fff;
}
.user span {
  display: none;
}
.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ccc;
  margin-left: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.favorites-link {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.icon-favorites {
  padding-right: 8px;
  font-size: 26px;
}
.search-holder {
  position: relative;
  margin: 0 15px;
  display: flex;
}
input.search {
  padding-left: 28px;
  width: 100%;
}
.search-holder svg {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #999;
}

/*
/////////// CATALOG
*/

.bar-left {
  padding: 10px 25px 0px 15px;
}
.panel-right {
  flex-grow: 1;
}
.bar-top {
  padding: 15px 0;
}
.hidden {
  display: none;
}
.top {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #238cc0;
  text-align: center;
}
.top svg {
  color: #fff;
  font-size: 25px;
  margin-top: 12px;
}
.pill-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: -15px;
}
.pin {
  display: none;
}
@media only screen and (min-width: 768px) {
  .container-main {
    display: flex;
  }
  .header h2{
    font-size: 24px;
  }
  .user span {
    display: block;
  }
  .bar-left {
    min-width: 320px;
    width: 320px;
    padding: 15px 25px 5px 0;
  }
  input.search {
    width: auto;
  }
  .top {
    bottom: 10px;
    right: 10px;
  }
  .bar-top {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .pill-box {
    flex-grow: 1;
    padding: 0;
    margin-bottom: -10px;
  }
  .pinned .header {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .pinned .container-main {
    padding-top: 44px;
  }
  .pinned .panel-right {
    padding-left: 320px;
  }
  .pinned .bar-top {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-right: 320px;
    background-color: #f5f5f5;
  }
  .pinned .bar-left {
    position: fixed;
    z-index: 2;
  }
  .pinned .top {
    display: none !important;
  }
  .pinned .filters--container {
    overflow: scroll;
    height: 99vh;
  }
  .pinned .grid {
    padding-top: 59px;
  }
  .pin {
    display: block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #fff;
    height: 34px;
    line-height: 35px;
    cursor: pointer;
  }
  .pin svg {
    margin-right: 10px;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
  }
  .rotate45 svg {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); /* Safari & Chrome */
    -moz-transform: rotate(45deg); /* Firefox */
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -o-transform: rotate(45deg);
  }
  .pinned .filters--header {
    position: relative;
  }
  .pinned .bar-top:before,
  .pinned .filters--header:after {
    content: "";
    height: 5px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 2;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.08) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.08) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.08) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#00000000',GradientType=0 );
  }
  select {
    width: auto;
  }
  .sorter {
    padding: 0;
  }
}
