/*
//////////////////FILTER
*/

.filters--header {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 8px;
}
.filters--header--label {
  font-size: 14px;
  display: none;
}
.sorter--label {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
.filters--header--clear {
  margin-left: auto;
  font-size: 12px;
  color: #238cc0;
  align-self: flex-end;
  cursor: default;
}
.filters--header--label--mobile--chevron svg {
  margin-left: auto;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.filters--folded .filters--header--label--mobile--chevron svg {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari & Chrome */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* Internet Explorer */
  -o-transform: rotate(-90deg);
}
.filters--container {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  overflow: hidden;
  max-height: 4000px;
  padding-top: 10px;
}
.filters--folded .filters--container {
  max-height: 0;
  padding-top: 0px;
}
@media only screen and (min-width: 768px) {
  .filters--header {
    padding: 3px 10px 12px 15px;
  }
  .filters--header--label--mobile {
    display: none;
  }
  .filters--header--label {
    display: block;
  }
  .sorter--label {
    font-size: 14px;
    margin-bottom: 0;
    display: inline;
  }
  .filters--folded .filters--container {
    max-height: 100%;
    padding-top: 0;
    padding-left: 15px;
  }
}
