.filter-option {
  color: #777;
}
.filter-option input[type="checkbox"] {
  display: none;
}
.filter-option:hover {
  color: #333;
}
.filter-option input[type="checkbox"]:checked + label {
  color: #222;
}
.filter-option--custom-check svg {
  display: none;
}
input[type="checkbox"]:checked + label .filter-option--custom-check svg {
  display: inline-block;
}
.filter-option--text {
  margin-left: 15px;
}
.filter-option--text .filter-option--custom-check {
  border: 2px solid #ccc;
  background: #fff;
  width: 20px;
  height: 20px;
  font-size: 13px;
  margin-right: 12px;
  line-height: 1.2;
  padding-left: 2px;
  border-radius: 4px;
}
.filter-option--text input[type="checkbox"]:checked + label .filter-option--custom-check {
  border-color: #238cc0;
  background-color: #238cc0;
  color: #fff;
}
.filter-option--text label {
  padding: 10px 0 10px 5px;
  display: flex;
  width: 100%;
  line-height: 1.4;
}
.filter-option--text:hover {
  background: #e9e9e9;
  border-radius: 4px;
}
.filter-option--color-swatch {
  padding: 8px 0;
  display: inline-block;
  width: 70px;
  text-align: center;
}
.filter-option--color-swatch input {
  display: none;
}
.filter-option--color-swatch label {
  font-size: 13px;
}
.filter-option--color-swatch .filter-option--custom-check {
  width: 36px;
  height: 36px;
  margin: auto;
  border-radius: 50%;
  font-size: 21px;
  line-height: 34px;
  border: 1px solid #ccc;
}
.filter-option--color-swatch:hover .filter-option--custom-check,
.filter-option--color-swatch input[type="checkbox"]:checked + label .filter-option--custom-check {
  box-shadow: 0 0 0px 2px black;
}
